# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\learning_by_doing\fighting_for_a_job\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
